.container__layout {
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
}

.button {
    display: inline-block;
    border: solid;
    border-radius: 64px;
    text-align: center;
    padding: 16px;
}